{% extends 'base.html' %}

{% block title %} Board {% endblock %}

{% block head %}
    <script>
      let pinImage;
      let boardTexture;
      let undoImage;
      let redoImage;
      let noteImages = [];
      let pilot = "{{pilot}}"

      // Load the image in preload()
      function preload() {
        pinImage = loadImage("{{ url_for('static',filename='img/pin.png') }}"); 
        trashImage = loadImage("{{ url_for('static',filename='img/trash.png') }}"); 
        boardTexture = loadImage("{{ url_for('static',filename='img/pinboardTexture.png') }}");
        undoImage = loadImage("{{ url_for('static',filename='img/undo.png') }}");
        redoImage = loadImage("{{ url_for('static',filename='img/redo.png') }}");

        
        img = loadImage("{{ url_for('static',filename='img/papers/1.png') }}");
        noteImages.push(img)
        img = loadImage("{{ url_for('static',filename='img/papers/3.png') }}");
        noteImages.push(img)
        img = loadImage("{{ url_for('static',filename='img/papers/4.png') }}");
        noteImages.push(img)
        img = loadImage("{{ url_for('static',filename='img/papers/5.png') }}");
        noteImages.push(img)
        img = loadImage("{{ url_for('static',filename='img/papers/6.png') }}");
        noteImages.push(img)
        img = loadImage("{{ url_for('static',filename='img/papers/7.png') }}");
        noteImages.push(img)
        img = loadImage("{{ url_for('static',filename='img/papers/8.png') }}");
        noteImages.push(img)
        img = loadImage("{{ url_for('static',filename='img/papers/9.png') }}");
        noteImages.push(img)
        img = loadImage("{{ url_for('static',filename='img/papers/10.png') }}");
        noteImages.push(img)
        img = loadImage("{{ url_for('static',filename='img/papers/11.png') }}");
        noteImages.push(img)
      }
    </script>

    <script src="{{ url_for('static',filename='js/history.js') }}"></script>
    <script src="{{ url_for('static',filename='js/paper.js') }}"></script>
    <script src="{{ url_for('static',filename='js/tray.js') }}"></script>
    <script src="{{ url_for('static',filename='js/board.js') }}"></script>
{% endblock %}

{% block body %}


{% if timer %}

    <div id="timer">10:00</div>
    <script>

      let TimeUp = false;

      console.log("PILOT")
      const timerStatus = true;
      function startTimer(duration, display) {
        let timer = duration, minutes, seconds;
        const interval = setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                clearInterval(interval);
                display.textContent = "Time's up!";
                TimeUp = true
            }
        }, 1000);
    }

    if (timerStatus) {
        document.getElementById('timer').style.display = 'block';
        startTimer(10 * 60, document.getElementById('timer'));
    }
    </script>

{% endif %}
{% endblock %}